$font-family-default: "averta";

* {
  font-family: $font-family-default, "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
}

@font-face {
  font-family: "averta";
  src: url(averta_regular.otf) format("opentype"),
    url(averta_regular.ttf) format("truetype"),
    url(averta_regular.woff2) format("woff2"),
    url(averta_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "averta_bold";
  src: url(averta_bold.otf) format("opentype"),
    url(averta_bold.ttf) format("truetype"),
    url(averta_bold.woff2) format("woff2"), url(averta_bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "averta_medium";
  src: url(averta_semibold.otf) format("opentype"),
    url(averta_semibold.ttf) format("truetype"),
    url(averta_semibold.woff2) format("woff2"),
    url(averta_semibold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "averta_light";
  src: url(averta_thin.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-default;
  src: url(averta_bold.otf) format("opentype"),
    url(averta_bold.ttf) format("truetype"),
    url(averta_bold.woff2) format("woff2"), url(averta_bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.fs {
  &-regular {
    font-family: "averta";
  }

  &-bold {
    font-family: "averta_bold";
  }

  &-medium {
    font-family: "averta_medium";
  }

  &-light {
    font-family: "averta_light";
  }
}
