<app-card [title]="'Cadastrar usuário'">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-select-field
      [id]="'perfil'"
      [name]="'perfil'"
      [label]="'Perfil de usuário'"
      [placeholder]="'Selecione uma opção'"
      [control]="form.controls.perfil"
      [options]="options"
    ></app-select-field>

    <app-input-field
      [id]="'cpf'"
      [name]="'cpf'"
      [type]="'text'"
      [label]="'CPF'"
      [mask]="'000.000.000-00'"
      [control]="form.controls.cpf"
    >
    </app-input-field>

    <div class="mt-3">
      <app-button
        [type]="'submit'"
        [variant]="'primary'"
        [size]="'lg'"
        [block]="true"
        [disabled]="form.invalid"
        >Cadastrar usuário</app-button
      >
    </div>
  </form>
</app-card>
